In [ ]:
# default_exp berteomeDF

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
# export
import pandas as pd

In [ ]:
# export
class modelPredDF():
    def __init__(self, predDict, seq, aas):
        self.predDf = pd.DataFrame.from_dict(predDict, orient = "index", columns = list(aas))
        self.predDf.insert(0, "wt",list(seq))
        self.predDf.insert(1, "wtIndex",list(range(1,len(seq)+1)))

In [ ]:
mendelDict = { i : [0]*20 for i in range(len("MENDEL"))}
mendelDict

{0: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 1: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 3: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 4: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 5: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [ ]:
mDF = modelPredDF(mendelDict, "MENDEL", "ACDEFGHIKLMNPQRSTVWY")

In [ ]:
mDF.predDf

  wt  wtIndex  A  C  D  E  F  G  H  I  ...  M  N  P  Q  R  S  T  V  W  Y
0  M        1  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1  E        2  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2  N        3  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3  D        4  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4  E        5  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5  L        6  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[6 rows x 22 columns]