In [ ]:
# default_exp berteomeDF

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
# export
import pandas as pd

In [ ]:
# export
class modelPredDF():
    def __init__(self, predDict, seq, aas):
        self.predDf = pd.DataFrame.from_dict(predDict, orient = "index", columns = list(aas))
        self.predDf = self.predDf.div(self.predDf.sum(axis=1),axis=0)
        self.predDf.insert(0, "wt",list(seq))
        self.predDf.insert(1, "wtIndex",list(range(1,len(seq)+1)))
        wtScore = self.wtScoreCol()
        self.predDf.insert(2, "wtScore",wtScore)

    def wtScoreCol(self):
        wtScore = []
        for row in self.predDf.to_dict(orient="records"):
	        wt = row["wt"]
	        wtScore.append(row[wt])
        return wtScore

In [ ]:
mendelDict = { i : list(range(20)) for i in range(len("MENDEL"))}
mendelDict

{0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 2: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 3: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 4: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 5: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]}

In [ ]:
mDF = modelPredDF(mendelDict, "MENDEL", "ACDEFGHIKLMNPQRSTVWY")

In [ ]:
mDF.predDf

,wt,wtIndex,wtScore,A,C,D,E,F,G,H,...,M,N,P,Q,R,S,T,V,W,Y
0,M,1,0.052632,0.0,0.005263,0.010526,0.015789,0.021053,0.026316,0.031579,...,0.052632,0.057895,0.063158,0.068421,0.073684,0.078947,0.084211,0.089474,0.094737,0.1
1,E,2,0.015789,0.0,0.005263,0.010526,0.015789,0.021053,0.026316,0.031579,...,0.052632,0.057895,0.063158,0.068421,0.073684,0.078947,0.084211,0.089474,0.094737,0.1
2,N,3,0.057895,0.0,0.005263,0.010526,0.015789,0.021053,0.026316,0.031579,...,0.052632,0.057895,0.063158,0.068421,0.073684,0.078947,0.084211,0.089474,0.094737,0.1
3,D,4,0.010526,0.0,0.005263,0.010526,0.015789,0.021053,0.026316,0.031579,...,0.052632,0.057895,0.063158,0.068421,0.073684,0.078947,0.084211,0.089474,0.094737,0.1
4,E,5,0.015789,0.0,0.005263,0.010526,0.015789,0.021053,0.026316,0.031579,...,0.052632,0.057895,0.063158,0.068421,0.073684,0.078947,0.084211,0.089474,0.094737,0.1
5,L,6,0.047368,0.0,0.005263,0.010526,0.015789,0.021053,0.026316,0.031579,...,0.052632,0.057895,0.063158,0.068421,0.073684,0.078947,0.084211,0.089474,0.094737,0.1

In [ ]:
mDF.predDf.to_dict()

{'wt': {0: 'M', 1: 'E', 2: 'N', 3: 'D', 4: 'E', 5: 'L'},
 'wtIndex': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6},
 'wtScore': {0: 0.05263157894736842,
  1: 0.015789473684210527,
  2: 0.05789473684210526,
  3: 0.010526315789473684,
  4: 0.015789473684210527,
  5: 0.04736842105263158},
 'A': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'C': {0: 0.005263157894736842,
  1: 0.005263157894736842,
  2: 0.005263157894736842,
  3: 0.005263157894736842,
  4: 0.005263157894736842,
  5: 0.005263157894736842},
 'D': {0: 0.010526315789473684,
  1: 0.010526315789473684,
  2: 0.010526315789473684,
  3: 0.010526315789473684,
  4: 0.010526315789473684,
  5: 0.010526315789473684},
 'E': {0: 0.015789473684210527,
  1: 0.015789473684210527,
  2: 0.015789473684210527,
  3: 0.015789473684210527,
  4: 0.015789473684210527,
  5: 0.015789473684210527},
 'F': {0: 0.021052631578947368,
  1: 0.021052631578947368,
  2: 0.021052631578947368,
  3: 0.021052631578947368,
  4: 0.021052631578947368,
  5: 0.021052631578947368},
 'G': {0: 0.02631578947368421,
  1: 0.02631578947368421,
  2: 0.02631578947368421,
  3: 0.02631578947368421,
  4: 0.02631578947368421,
  5: 0.02631578947368421},
 'H': {0: 0.031578947368421054,
  1: 0.031578947368421054,
  2: 0.031578947368421054,
  3: 0.031578947368421054,
  4: 0.031578947368421054,
  5: 0.031578947368421054},
 'I': {0: 0.03684210526315789,
  1: 0.03684210526315789,
  2: 0.03684210526315789,
  3: 0.03684210526315789,
  4: 0.03684210526315789,
  5: 0.03684210526315789},
 'K': {0: 0.042105263157894736,
  1: 0.042105263157894736,
  2: 0.042105263157894736,
  3: 0.042105263157894736,
  4: 0.042105263157894736,
  5: 0.042105263157894736},
 'L': {0: 0.04736842105263158,
  1: 0.04736842105263158,
  2: 0.04736842105263158,
  3: 0.04736842105263158,
  4: 0.04736842105263158,
  5: 0.04736842105263158},
 'M': {0: 0.05263157894736842,
  1: 0.05263157894736842,
  2: 0.05263157894736842,
  3: 0.05263157894736842,
  4: 0.05263157894736842,
  5: 0.05263157894736842},
 'N': {0: 0.05789473684210526,
  1: 0.05789473684210526,
  2: 0.05789473684210526,
  3: 0.05789473684210526,
  4: 0.05789473684210526,
  5: 0.05789473684210526},
 'P': {0: 0.06315789473684211,
  1: 0.06315789473684211,
  2: 0.06315789473684211,
  3: 0.06315789473684211,
  4: 0.06315789473684211,
  5: 0.06315789473684211},
 'Q': {0: 0.06842105263157895,
  1: 0.06842105263157895,
  2: 0.06842105263157895,
  3: 0.06842105263157895,
  4: 0.06842105263157895,
  5: 0.06842105263157895},
 'R': {0: 0.07368421052631578,
  1: 0.07368421052631578,
  2: 0.07368421052631578,
  3: 0.07368421052631578,
  4: 0.07368421052631578,
  5: 0.07368421052631578},
 'S': {0: 0.07894736842105263,
  1: 0.07894736842105263,
  2: 0.07894736842105263,
  3: 0.07894736842105263,
  4: 0.07894736842105263,
  5: 0.07894736842105263},
 'T': {0: 0.08421052631578947,
  1: 0.08421052631578947,
  2: 0.08421052631578947,
  3: 0.08421052631578947,
  4: 0.08421052631578947,
  5: 0.08421052631578947},
 'V': {0: 0.08947368421052632,
  1: 0.08947368421052632,
  2: 0.08947368421052632,
  3: 0.08947368421052632,
  4: 0.08947368421052632,
  5: 0.08947368421052632},
 'W': {0: 0.09473684210526316,
  1: 0.09473684210526316,
  2: 0.09473684210526316,
  3: 0.09473684210526316,
  4: 0.09473684210526316,
  5: 0.09473684210526316},
 'Y': {0: 0.1, 1: 0.1, 2: 0.1, 3: 0.1, 4: 0.1, 5: 0.1}}

In [ ]:
#    A  C  D  E  F  G  H  I  K  L  M  N  P  Q  R  S  T  V  W  Y
wtScoreDict = {0: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 1: [0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 3: [0, 0, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 4: [0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 5: [0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [ ]:
wtScoreDF = modelPredDF(wtScoreDict, "MENDEL", "ACDEFGHIKLMNPQRSTVWY")
wtScoreDF.predDf

,wt,wtIndex,wtScore,A,C,D,E,F,G,H,...,M,N,P,Q,R,S,T,V,W,Y
0,M,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,N,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,D,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,E,5,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,L,6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
assert wtScoreDF.predDf.to_dict() == {'wt': {0: 'M', 1: 'E', 2: 'N', 3: 'D', 4: 'E', 5: 'L'},
 'wtIndex': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6},
 'wtScore': {0: 1.0, 1: 1.0, 2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0},
 'A': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'C': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'D': {0: 0.0, 1: 0.0, 2: 0.0, 3: 1.0, 4: 0.0, 5: 0.0},
 'E': {0: 0.0, 1: 1.0, 2: 0.0, 3: 0.0, 4: 1.0, 5: 0.0},
 'F': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'G': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'H': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'I': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'K': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'L': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 1.0},
 'M': {0: 1.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'N': {0: 0.0, 1: 0.0, 2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'P': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'Q': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'R': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'S': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'T': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'V': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'W': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0},
 'Y': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0}}

In [ ]:
wtScore = []
for row in wtScoreDF.predDf.to_dict(orient="records"):
	wt = row["wt"]
	wtScore.append(row[wt])
wtScore

[4, 2, 1, 9, 6, 9]

# Ensemble predictions

I think the easiest way to ensemble predictions would be to just take the average probability across all 20 residues. I imagine this would be a relatively simple dataframe function.

In [ ]:
t1 = pd.DataFrame.from_dict({
								"s1":[1,3,5],
								"s2":[2,4,6],
								"s3":[1,2,3]
							}, orient="index", columns = ["A","B","C"]).reset_index()
t2 = pd.DataFrame.from_dict({
								"s1":[3,1,3],
								"s2":[4,2,8],
								"s3":[3,4,5]
							}, orient="index", columns = ["A","B","C"]).reset_index()

Alright, so first there needs to be a way to concatenate them and give them a label column.

In [ ]:
def stackDFs(df1,df1Name, df2, df2Name):
	df1["label"] = df1Name
	df2["label"] = df2Name

	return pd.concat([df1,df2])

In all liklihood this could take a dict {dfName:df..} so that an arbitrary number of dataframes could be provided..

In [ ]:
tBoth = stackDFs(t1,"t1",t2,"t2")

In [ ]:
tBoth.groupby("index").mean()

         A    B    C
index
s1     2.0  2.0  4.0
s2     3.0  3.0  7.0
s3     2.0  3.0  4.0

So yeah, that works! We can just throw this into a function, and we should have a way to get a consensus between ESM and prot_bert!